@model IEnumerable<WebApplication1.Models.Subject>
@inject DataContext _context

@{
    ViewData["Title"] = "Предметы";
}

<h1>Предметы</h1>

<p>
    <a asp-action="Create">Создать новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название предмета
            </th>
            <th>
                Часов
            </th>
            <th>
                Название группы
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                    @{
                        var dtNow = DateTime.Now;
                        var endOfYear = dtNow.Month < 7 ? new DateTime(dtNow.Year, 7, 1) : new DateTime(dtNow.Year + 1, 7, 1);
                        var startOfYear = dtNow.Month > 8 ? new DateTime(dtNow.Year, 9, 1) : new DateTime(dtNow.Year - 1, 9, 1);
                        var usedHrs = item.Hours - _context.Records.Where(x => x.Subject.SubjectName == item.SubjectName && 
                            endOfYear > x.Time && startOfYear < x.Time)
                            .Count();
                    }
                @usedHrs / @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SubjectId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.SubjectId">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
