@model WebApplication1.Models.RecordVM
@inject DataContext _context

@{
    ViewData["Title"] = "Создать";
}

<h1>Создать</h1>

<h4>Запись</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Дата</label>
                <input type="date" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Время</label>
                <input type="time" asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Продолжительность(мин.)</label>
                <input asp-for="Longevity" class="form-control" />
                <span asp-validation-for="Longevity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Предмет</label>
                <input asp-for="Subject" list="Subjects" name="SubjectId">
                <datalist id="Subjects">
                    @foreach (var subject in _context.Subjects)
                    {
                        <option value="@subject.SubjectId">@subject.SubjectName - @subject.Group.GroupName</option>
                    }
                </datalist>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Преподаватель</label>
                <input asp-for="Teacher" list="Teachers" name="Teacher">
                <datalist id="Teachers">
                    @foreach (var teacher in _context.Users.Where(x => x.Permission != "SuperAdmin"))
                    {
                        if (teacher.Surname != null)
                        {
                            var tName =(teacher.Surname + " " + teacher.Name?[0] + ". " + teacher.FName?[0]) + ".";
                            <option value="@tName">@tName</option>
                        }   
                    }
                </datalist>
            </div>
            <div class="form-group">
                <label class="control-label">Аудитория</label>
                <input asp-for="Auditorium" class="form-control" />
                <span asp-validation-for="Auditorium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

