@model IEnumerable<WebApplication1.Models.Record>
@{
    ViewData["Title"] = "Расписание";
    var role = !string.IsNullOrEmpty(TempData["Permission"] as string) ? TempData["Permission"] as string : "undefined";
    TempData.Keep("Permission");
}
@inject DataContext _context
<h1>Расписание</h1>
<p>
    <a asp-authorize asp-action="Create">Создать новую запись</a>
</p>
<form class="query" action="/" method="get">
    <button class="switch" onclick="decdate()"><i class="fas fa-chevron-left"></i></button>
    <input id="date" type="date" name="Date" value="@Context.Request.Query["Date"]" />
    <button class="switch" onclick="incdate()"><i class="fas fa-chevron-right"></i></button>
    <select id="group" name="Group">
        @foreach (var group in _context.Groups)
        {
            <option value="@group.GroupName">@group.GroupName</option>
        }
    </select>
</form>
@section Scripts
{

    <script>
    @if (role != "undefined")
    {
        @:localStorage["Permission"] = "@role";
    }

        if (document.getElementById('date').value == "") {
            let date = new Date().toISOString().replace(/T.*Z/, '');
            document.getElementById('date').value = date;
        }

    $('#date').change(function () {
        $(this).closest('form').submit();
    });
    $('#group').change(function () {
        $(this).closest('form').submit();
    });

    @if (!User.Identity.IsAuthenticated)
    {
        @:localStorage.clear();
    }
    </script>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Время
            </th>
            <th>
                Предмет
            </th>
            <th>
                Преподаватель
            </th>
            <th>
                Аудитория
            </th>
            <th>
                Группа
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Time.ToString("t")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teacher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Auditorium)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Group)
                </td>
                <td>
                    <div asp-authorize asp-roles="Admin, Teacher">
                        <a asp-action="Edit" asp-route-id="@item.RecordID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.RecordID">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
